# Markdown snippets

snippet meeting
	# Meeting Notes - `strftime("%B %d, %Y")`
	
	## ${1:Meeting name}
	
	### Information
	
	${2}
	
	### Decisions
	
	### Tasks
	
snippet agendac
	### Agenda
	
	${0:`@+`}

